
<div class="wrapper">
  <div id="countdown">
    <div class="container">
      <h1 class="logo"><i class="fa fa-bus"></i> Neville James Bus Service <i class="fa fa-bus"></i></h1>
      <h1><span class="notif">A brand new site is coming: stay tuned</span></h1>
  
      <div class="divider"></div>
      
      <p>
        What's Happening Bahamas?!?!  Do you live on the island or are you planning a vacation here?  Not sure exactly what is going on during your time here?
        <br /><br />
        Soon, you will be able to find all your 242 events in one convenient location.  We're working on creating just that for you.
        <br /><br />
        Stay tuned.
      </p>
        
    </div>
  </div>
</div>

