
<div class="wrapper">
  <div id="countdown">
    <div class="container">
     
      <h1 class="logo"><i class="fa fa-bus"></i> Neville James Bus Service <i class="fa fa-bus"></i></h1>
      <h1><span class="notif">A brand new site is coming: stay tuned</span></h1>
      
      <div class="divider"></div>
      
      <p>
        services test page
      </p>
        
    </div>
  </div>
</div>
